{% extends "base.html"%}

{% block content %}

<h2> Geochemical modelling - County Level </h2>
<form action="" method="post">
<p>
This filter performs geochemical modelling for fluids located in a/multiple county(ies). <br>
First select the state in which the county(ies) reside. Then type in the county(ies) of interest, seperating multiple counties with a comma.<br>
</p>
<p>
{{form.US_state_select.label}}<br>
{{form.US_state_select}}<br>
</p>
<p>
{{form.US_county.label}}<br>
{{form.US_county}}<br>
</p>
<p>
{{form.submit()}}
</p>
</form>

{% endblock %}