{% extends "base.html"%}

{% block content %}

<h2> Vertical Geothermal / CO2 profile - County Level </h2>
<form action="" method="post">
<p>
{{form.US_state_select.label}}<br>
{{form.US_state_select}}<br>
</p>
<p>
{{form.US_county.label}}<br>
{{form.US_county}}<br>
</p>
<p>
{{form.min_vert_depth.label}}<br>
{{form.min_vert_depth}}<br>
</p>
<p>
{{form.max_vert_depth.label}}<br>
{{form.max_vert_depth}}<br>
</p>
<p>
{{form.climate.label}}<br>
{{form.climate}}<br>
</p>
<p>
{{form.land_correct.label}}<br>
{{form.land_correct}}<br>
</p>
<p>
{{form.submit()}}
</p>
</form>

{% endblock %}