{% extends "base.html"%}

{% block content %}
<div id="loading">
    <div><br><br><br> Your simulation is running and the download will commence automatically. This can take up to several minutes. Once it has downloaded click <a href="/">here</a> to return to the home screen.</div>
</div>
<div id="content">
<h2> Geochemical modelling - Custom filter </h2>
<form action="" method="post">
<div>
This filter performs geochemical modelling for fluids located in a custom user specified area (bounding box). <br>
The minimum number of vertices for the bounding box is 4; i.e. a rectangular bounding box (additional vertices can be specified). As far as I am aware there is no maximum number of vertices. For a rectangular box seperately enter the 4 latitude and 4 longitude coordinates seperated by a comma.<br><br>
For example for a rectangular bounding box with vertices of (30, -101), (32,-101), (32,-98.5) and (30,-98.5); <br>
&nbsp;&nbsp;&nbsp;&nbsp;For latitude enter: 30,32,32,30 <br>
&nbsp;&nbsp;&nbsp;&nbsp;For longitude enter: -101,-101,-98.5,-98.5 <br>
To generate bounding box co-ordinates with an interactive map see <a href="https://boundingbox.klokantech.com/">here</a>.<br><br>
</div>
<center>
<p>
{{form.lat_bounding.label}}<br>
{{form.lat_bounding}}<br>
</p>    
<p>
{{form.lon_bounding.label}}<br>
{{form.lon_bounding}}<br>
</p>    
<p>
<input type="submit" name="anything_submit" value="Submit" onclick="loading();">
</p>
</center>
</form>
</div>

{% endblock %}