{% extends "base.html"%}

{% block content %}

<h2> Geochemical modelling </h2>
<form action="" method="post">
<p>
{{form.mineral_select_1.label}}<br>
{{form.mineral_select_1}}<br>
</p>
<p>
{{form.moles_1.label}}<br>
{{form.moles_1}}<br>
</p>
<p>
{{form.mineral_select_2.label}}<br>
{{form.mineral_select_2}}<br>
</p>
<p>
{{form.moles_2.label}}<br>
{{form.moles_2}}<br>
</p>
<p>
{{form.mineral_select_3.label}}<br>
{{form.mineral_select_3}}<br>
</p>
<p>
{{form.moles_3.label}}<br>
{{form.moles_3}}<br>
</p>
<p>
{{form.mineral_select_4.label}}<br>
{{form.mineral_select_4}}<br>
</p>
<p>
{{form.moles_4.label}}<br>
{{form.moles_4}}<br>
</p>
<p>
{{form.mineral_select_5.label}}<br>
{{form.mineral_select_5}}<br>
</p>
<p>
{{form.moles_5.label}}<br>
{{form.moles_5}}<br>
</p>
<p>
{{form.mineral_select_6.label}}<br>
{{form.mineral_select_6}}<br>
</p>
<p>
{{form.moles_6.label}}<br>
{{form.moles_6}}<br>
</p>
<p>
{{form.mineral_select_7.label}}<br>
{{form.mineral_select_7}}<br>
</p>
<p>
{{form.moles_7.label}}<br>
{{form.moles_7}}<br>
</p>
<p>
{{form.mineral_select_8.label}}<br>
{{form.mineral_select_8}}<br>
</p>
<p>
{{form.moles_8.label}}<br>
{{form.moles_8}}<br>
</p>
<p>
{{form.mineral_select_9.label}}<br>
{{form.mineral_select_9}}<br>
</p>
<p>
{{form.moles_9.label}}<br>
{{form.moles_9}}<br>
</p>
<p>
{{form.mineral_select_10.label}}<br>
{{form.mineral_select_10}}<br>
</p>
<p>
{{form.moles_10.label}}<br>
{{form.moles_10}}<br>
</p>
<p>
{{form.mineral_select_11.label}}<br>
{{form.mineral_select_11}}<br>
</p>
<p>
{{form.moles_11.label}}<br>
{{form.moles_11}}<br>
</p>
<p>
{{form.submit()}}
</p>
</form>
{% endblock %}