{% extends "base.html"%}

{% block content %}
<div>
<br>
This website hosts a number of different webapps that are largely based on the estimation of at-formation depth temperatures for each sample in the US produced water database (see the <a href="/about">about</a> page for a more detailed description of the methodology).
<br>
<br>
<a href='/index_co2_modelling'>CO2-GASP</a> - Model CO2 sequestration (free state and dissolved) and access underlying geothermal and water chemistry/temperature data.<br>
<br>
<a href='/dolomite_constant'>Dolomite-R</a> - Statistically derive local thermodynamic constants for dolomite using a mixed modelling approach (uses R). This program includes the ability to upload water chemistry data for inclusion into the model.<br><br>
<a href='/other_phreeqc_sims'>Experimental PHREEQC sims</a> - We have developed a number of scripts that allow users to simulate other processes that may be of interest including lithium (carbonate) production. 

<br><br> All programs have undergone very limited user testing. Please contact Hamish with any bugs you encounter or queries (including feature suggestions!) - <b>hamish.robertson at cgg.com</b>.
</div>


{% endblock %}