{% extends "base.html"%}

{% block content %}
<div>
<b> Due to no active research funds the site costs are currently being paid out of the developer's own pocket. I have a small request that you run the smallest number of simulations/smallest area of interest for speed/cost purposes. If you (or Jeff Bezsos) fancy throwing a bone to cover AWS server costs drop us a message.</b>
</div>

<h2 id="welcome"> Welcome to CO2-GASP </h2>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;This software CO2-GASP enables a wide variety of users to model and interact with groundwater and geothermal data from the contiguous continental states.
See the <a href="/about">about</a> page for a more detailed description of the methodology employed here.<br> 
You have the option of either modelling geothermal and free state CO<sub>2</sub> data or geochemical modelling.



<h3 id="geothermal_free_state"> Option 1) - Geothermal and free state CO<sub>2</sub> data </h3>

For selected areas and variations in subsurface-depth this modelling option enables a user to generate maps and graphs of;
<ul>
<li>CO<sub>2</sub> density (<a href="#Texas_700m_density">fig. A</a>)</li>
<li>CO<sub>2</sub> state (e.g. gas, liquid or supercritical) (<a href="#Texas_700m_density">fig. B</a>)</li>
<li>Temperature at formation depth (see <a href="/Results_heading#Texas_700m_temperature">here</a>) </li>
<li>Rasters of underlying MODIS landsurface temperature and SMUH geothermal gradient data (see <a href="/Results_heading#Texas_geothermal_grad_MODIS_temp">here</a>)</li>
</ul>
</div>

For further details see information about the input datasets (<a href="/Heatflow_data">geothermal gradient data</a> and <a href="/MODIS_data">surface temperature data</a>), the <a href="/free_state">method</a> and <a href="/Results_heading#free_state_results">example results</a>.

<div class="row" id="Texas_700m_density">
  <div class="column">
  <img src="https://co-2-gasp-bucket.s3.us-east-2.amazonaws.com/images/co2_density_with_lee_png.png" alt="co2_density_with_lee" style="width:100%">
  <figcaption>Fig. A - CO<sub>2</sub> density at 700m depth for Texas. See the <a href="/free_state">method</a> and <a href="/Results_heading#free_state_Horizontal_results">results</a> for further details.
  </figcaption>
  </div>
  <div class="column">
  <img src="https://co-2-gasp-bucket.s3.us-east-2.amazonaws.com/images/co2_state_texas_no_correct.png" alt="Texas_700m_state" style="width:100%">
  <figcaption>Fig. B - CO<sub>2</sub> state at 700m depth for Texas. See the <a href="/free_state">method</a> and <a href="/Results_heading#free_state_Horizontal_results">results</a> for further details.
  </div>
</div>

<h3 id="geochem_model"> Option 2) - Geochemical modelling</h3>

<div>
For selected areas this geochemical modelling (PHREEQC-Pitzer) evaluates the interaction between injected CO<sub>2</sub>, the formation waters and the local mineralogy. The modelling drives each individual water to a temperature and pressure estimated to represent the conditions at the depth from which it was sampled (the at-formation depth).<br>
&nbsp;&nbsp;&nbsp;&nbsp;The user supplies a mineralogical composition that is thought to represent a formation of interest. Each water, now at-formation depth conditions, is initially equilibriated with the lithology to correct any discrepancy in the initial water chemistry. Thereafter in a second stage, CO<sub>2</sub> is injected up to a pressure equal to the at-formation depth conditions. The data from this stage is the primary data that is reported and used in further calculations.<br>
&nbsp;&nbsp;&nbsp;&nbsp;Using the simulation data the user is given an option to calculate the volume, and for a given price per tonne ($70 per tonne) the value, of CO<sub>2</sub> that could be stored in a hypothetical water-satured cylinder of a given porosity. This cylinder represents a volume of rock surrounding the injection well in which the water in pore spaces saturates with CO<sub>2</sub> with thhe solubility of CO<sub>2</sub> determined by the earlier modelling.

<ul>
<li>The calculated solubility of CO<sub>2</sub> in the produced water phase. This data is then extrapolated to the theoretical water saturated cylinder (figs. <a href="#co2_storage_calcs">C</a> & <a href="#co2_storage_calcs">D</a>). </li>
<li>The change in mineralogy and other key PHREEQC simulation data for each simulation. </li>
<li>The change in porosity. Specifically the difference between the initial mineral volume and the final mineral volumes is calculated. CO<sub>2</sub> injection typically lowers the pH driving dissolution and/or precipitation of different minerals. </li>
</ul>

For further details see information about the input datasets (<a href="/USGS_Produced_Water_Database">produced water database</a>, <a href="/Heatflow_data">geothermal gradient data</a> and <a href="/MODIS_data">surface temperature data</a>), the <a href="/geochemical_modelling">method</a> and <a href="/geochemical_modelling_results">example results</a>.
</div>

<div class="row" id="co2_storage_calcs">
  <div class="column">
  <img src="https://co-2-gasp-bucket.s3.us-east-2.amazonaws.com/images/volume_of_storable_co2.png" alt="volume_of_storable_co2" style="width:100%">
  <figcaption>Fig. C - For all water samples in Texas, the volume (million tonnes) of the storable CO<sub>2</sub> in the theoretical water saturated (15%) reservoir (200m radius x 100m height). Reservoir lithology is carbonate (calcite/dolomite/halite). See the <a href="/geochemical_modelling">method</a> and <a href="/geochemical_modelling_results">results</a> for further details.
  </figcaption>
  </div>
  <div class="column">
  <img src="https://co-2-gasp-bucket.s3.us-east-2.amazonaws.com/images/value_of_storable_co2.png" alt="Texas_700m_state" style="width:100%">
  <figcaption>Fig. D - For all water samples in Texas, the value (million dollars based on $70 per tonne of CO<sub>2</sub>) of the storable CO<sub>2</sub> in the theoretical water saturated (15%) cylinder (200m radius x 100m height). See the <a href="/geochemical_modelling">method</a> and <a href="/geochemical_modelling_results">results</a> for further details.
  </figcaption>
  </div>
</div>

<p>
Please choose your modelling process;
</p>
<form action="" method="post">
{% for subfield in form.modelling_option %}
    <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
    </tr>
{% endfor %}
<p>
{{form.submit()}}
</p>
{% endblock %}