{% extends "base.html"%}

{% block content %}
<center><a href="/Methodology_heading"> << Methodology</a> <b>|   <a href="/about"> CONTENTS </a>   |</b> <a href="/USGS_Produced_Water_Database">Produced Water database >></a>  </center>

<h3 id="Background_methodology_heading"> 2.1 Methodology - Background </h3>
<div>
We briefly discuss the code architecture before discussing each database used in the program. 
</div>
<h4 id="code_architecture"> 2.1.1 Code architecture and PHREEQC modification</h4>
<div>
The core developed code is primarily written in Python with heavy use of the (Geo)Pandas, CoolProp and Flask libraries. Other non-python code in use includes bash scripts using gdal for the generation of raster files and aws-cli for file transfer applications.<br> 
&nbsp;&nbsp;&nbsp;&nbsp;The server architecture is delivered using AWS (EC2, Fargate, S3 etc...). All simulations (including PHREEQC simulations) are run on an EC2 instance (see dockerfile/dockercompose for details).<br>
&nbsp;&nbsp;&nbsp;&nbsp;All minerals and aqueous species, apart from dolomite, use thermodynamic parameters as specified in pitzer.dat (as downloaded in the 2021, PHREEQC version 3.7.1 for Linux). For dolomite the thermodynamic solubility constant as derived by Robertson et al. (2021) is used. A future update is planned to include the values for the local dolomite composition as discussed in Robertson et al. (2021).   
</div>

<center><a href="/Methodology_heading"> << Methodology</a> <b>|   <a href="/about"> CONTENTS </a>   |</b> <a href="/USGS_Produced_Water_Database">Produced Water database >></a>  </center>

{% endblock %}