{% extends "base.html"%}

{% block content %}
<center><a href="/Introduction_header"> << Introduction</a> <b>|   <a href="/about"> CONTENTS </a>   |</b> <a href="/Background_methodology_heading">Methodology - Background >></a> <b>|</b> <a href="/User_method">Methodology - User >></a> </center>

<h2 id="Methodology_heading"> 2 Methodology </h2>
<div>
The methodology is split into a background methodology and an active methodology. Specifically in the background methodology section we discuss the database coupling process and properties of each database used in the project. All of the data processing described in the background methodology has been completed prior to an end user accessing the website.<br>

&nbsp;&nbsp;&nbsp;&nbsp;In the active methodology section we discuss the options avaible to an end user to parametersize a simulation and methodological details of simulations.      
</div>

<center><a href="/Introduction_header"> << Introduction</a> <b>|   <a href="/about"> CONTENTS </a>   |</b> <a href="/Background_methodology_heading">Methodology - Background >></a> <b>|</b> <a href="/User_method">Methodology - User >></a> </center>
{% endblock %}
