{% extends "base.html"%}

{% block content %}

<h2> Development notes </h2>
<p>
At present for various reasons (cost and relative urgency/neccessity) the code validation scripts (see Manual) for interpolating geothermal gradients (option geo_interp_T_F) and downloading/processing the MODIS land surface data (MODIS_process_T_F) are not availible. <br>
The software uses data that has already been processed but the codes in the github repository as presented are testable to validate these features.  
</p>
{% endblock %}