{% extends "base.html"%}

{% block content %}


<h2 id="reference_heading">4 References</h3>

Bachu, S., 2003. Screening and ranking of sedimentary basins for sequestration of CO 2 in geological media in response to climate change. Environmental Geology, 44(3), pp.277-289.<br><br>

Bechtel, B., 2015. A new global climatology of annual land surface temperature. Remote Sensing, 7(3), pp.2850-2870.<br><br>

Bell, I.H., Quoilin, S., Wronski, J. and Lemort, V., 2013, October. Coolprop: An open-source reference-quality thermophysical property library. In ASME ORC 2nd International Seminar on ORC Power Systems.<br><br>

Blackwell, D., Richards, M., Frone, Z., Batir, J., Ruzo, A., Dingwall, R. and Williams, M., 2011. Temperature-at-depth maps for the conterminous US and geothermal resource estimates (No. GRC1029452). Southern Methodist University Geothermal Laboratory, Dallas, TX (United States).<br><br>

Blondes, M.S., Gans, K.D., Rowan, E.L., Thordsen, J.J., Reidy, M.E., Engle, M.A., Kharaka, Y.K., and  Thomas, B,. 2016. US Geological Survey National Produced Waters Geochemical Database v2. 2 (PROVISIONAL) Documentation. United States Geological Survey.<br><br>

Hitchon, B. and Brulotte, M., 1994. Culling criteria for “standard” formation water analyses. Applied Geochemistry, 9(6), pp.637-645.<br><br>

Hyeong, K. and Capuano, R.M., 2001. Ca/Mg of brines in Miocene/Oligocene clastic sediments of the Texas Gulf Coast: buffering by calcite/disordered dolomite equilibria. Geochimica et Cosmochimica Acta, 65(18), pp.3065-3080.<br><br>

Kharaka, Y.K., Maest, A.S., Carothers, W.W., Law, L.M., Lamothe, P.J. and Fries, T.L., 1987. Geochemistry of metal-rich brines from central Mississippi Salt Dome basin, USA: Applied Geochemistry, 2(5-6), pp. 543-561.<br><br>

Meyer, R.F., Wallace, L.G. and Wagner Jr, F.J., 1991. AAPG-CSD geologic provinces code map: AAPG Bulletin, 75(10), pp. 1644-1651.<br><br>

Robertson, H., Whitaker, F., Hollis, C. and Corlett, H., 2021. Solubulity product constants for natural dolomite (0-200°C) through a groundwater-based approach using the USGS produced water database – part A: <a href="https://eartharxiv.org/repository/view/2315/">here</a> <br><br>


<a href="/geochemical_modelling_results"> <<  Geochemical modelling results </a> 
{% endblock %}