{% extends "base.html"%}

{% block content %}

<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}    
</style>    


<h4 id="Robertson_et_al">2.1.5 Robertson et al. (2021) </h4>
<div>
In this section for background reference we describe the key findings and, more pertinently, the groundtruthing of the coupled datasets from Robertson et al. (2021) (where further details can be found).<br>

&nbsp;&nbsp;&nbsp;&nbsp;The dissolution of dollsmite is described by the following equation; <br>
</div>
	CaMg(CO<sub>3</sub>)<sub>(2)(s)</sub> <--></--> Ca<sup>2+</sup><sub>(aq)</sub>+ Mg<sup>2+</sup><sub>(aq)</sub> + 2CO<sub>3</sub><sup>2-</sup><sub>(aq)</sub> (eq.1) <br><br>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;The solubility product constant (K<sub>sp-dol</sub>) describes the amount of dolomite that needs to dissolve/precipitate for this equation to achieve equilibrium. For dolomite it can be expressed as such;<br>
</div>
K<sub>sp-dol</sub> = (<i>a</i>Ca<sup>2+</sup>)(<i>a</i>Mg<sup>2+</sup>)(aCO<sub>3</sub><sup>2</sup>)<sup>2</sup> (eq.2) <br><br>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;Note <i>a</i> represents the activities of ions in solution. Activities approximately reflect the concentration of an ion in solution and are calculated by PHREEQC (Pitzer model). The groundwater method of determining the K<sub>(sp-dol)</sub> assumes that the water is also in equilibrium with calcite (for which we have proven for >90% of US groundwaters this to be the case, see below). The calcite solubility constant is describe by;<br>
</div>
CaCO<sub>3 (s)</sub> <--></--> Ca<sup>2+</sup><sub>(aq)</sub> + CO<sub>3</sub><sup>2-</sup><sub>(aq)</sub> (eq.3) <br><br>
and;<br>
K<sub>sp-cal</sub>=(<i>a</i>Ca<sup>2+</sup>)(<i>a</i>CO<sub>3</sub><sup>2-</sup>)=-8.480 at 25°C (SUPCRT92) (eq.4) <br><br>
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;Such that at simultaneous calcite-dolomite equilibrium;<br>
</div>
2CaCO<sub>3 (s)</sub> + Mg<sup>2+</sup><sub>(aq)</sub> <--></--> CaMg(CO<sub>3</sub>)<sub>(2)(s)</sub> + Ca<sup>2+</sup><sub>(aq)</sub> (eq.5) <br><br>
and the K<sub>sp-dol</sub> can be defined as;<br>
K<sub>(sp-dol)</sub> = (<i>a</i>Ca<sup>2+</sup> / <i>a</i>Mg<sup>2+</sup> ) .  (1 / K<sub>sp-cal</sub>) (eq.6)<br><br>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;Therefore by evaluating <i>a</i>Ca<sup>2+</sup>/<i>a</i>Mg<sup>2+</sup> using PHREEQC-Pitzer for each sample we can determine a value for K<sub>(sp-dol)</sub>. Specifically as the K<sub>sp</sub> is temperature dependent we fit <i>a</i>Ca<sup>2+</sup> / <i>a</i>Mg<sup>2+</sup> values and the corresponding at formation-depth temperature to a Meyer-Kelly type regressiom. We found the temperature depedency of K<sub>sp-dol</sub> (more specifically pK<sub>sp−dol</sub> or log<sub>10</sub>K<sub>sp−dol</sub>) to equal;<br>
</div>
pK<sub>sp−dol</sub> = 1.47545×10<sup>1</sup> - 6.24959×10<sup>-2</sup>∙T(K) - 3.99350×10<sup>3</sup>∙1/T(K) (eq.7)<br><br>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;At 25°C pK<sub>sp°−dol</sub> is determined to be -17.27±0.35, which is close to prior estimates including the most recent experimentalally derived value reported by Bénézeth et al. (2018) (pK<sub>sp°−dol</sub> = -17.19±0.3). 
</div>
<div>
&nbsp;&nbsp;&nbsp;&nbsp;The interpretation that >90% of US groundwater samples are at calcite-dolomite equilibrium is made by the observation of the tight clustering of <i>a</i>Ca<sup>2+</sup>/<i>a</i>Mg<sup>2+</sup> values around a constant increase with temperature (<a href="#ca_mg_constant_fig">fig. 8</a>). This relationship is consistent with prior observations of calcite-dolomite equilibrium (<a href="#ca_mg_constant_fig">fig. 9</a>).
</div>

<div class="row" id="ca_mg_constant_fig">
  <div class="column">
    <img src="https://co-2-gasp-bucket.s3.us-east-2.amazonaws.com/images/density_ca_mg.png" alt="Robertson_2021_ca_mg_density" style="width:100%">
    <figcaption>Fig.8 - 2D Histogram for all (n=11,480; using lithology filter) PWGD samples with bin dimensions of 10°C x 0.05 log<sub>10</sub>(<i>a</i>Ca<sup>2+</sup>/<i>a</i>Mg<sup>2+</sup>). The tight clustering is interpreted as strong evidence that calcite-dolomite equilibrium is controlling <i>a</i>Ca<sup>2+</sup>/<i>a</i>Mg<sup>2+</sup> values.
    </figcaption>
  </div>
  <div class="column">
    <img src="https://co-2-gasp-bucket.s3.us-east-2.amazonaws.com/images/temperature_ca_mg_constants.png" alt="Robertson_2021_ca_mg_constant" style="width:100%">
    <figcaption> Fig.9 - Comparison of log<sub>10</sub>(<i>a</i>Ca<sup>2+</sup>/<i>a</i>Mg<sup>2+</sup>) values for calcite-dolomite equilibrium generated by the new dolomite model from Robertson et al. (2021) (purple line - "Model 21") with prior historic models.
    </figcaption>
  </div>
</div>

<h5 id="groundtruth_robertson_2021">2.1.5.1 Groundtruthing</h5>
<div>
To groundtruth the methods two test areas were selected. Test Area A encompasses an area of 9059km<sup>2</sup> (bounding box W94°48'-W96°00'/N28°48'-N29°30') of SE Texas (<a href="#test_areas_ground">fig. 10b</a>). For the 21 PGWD samples from 9 different oil fields within Test Area A the geothermal model yields a mean surface temperature of 16°C (range 15-16°C) and a mean geothermal gradient of 33°C/km (range 29-35°C/km) (<a href="#temp_comparison">fig. 11a</a>). This compares reasonably well with observations from both Morton and Land (1987) and Hyeong and Capuano (2001).<br>
</div>
<figure id="test_areas_ground">
  <img src="https://co-2-gasp-bucket.s3.us-east-2.amazonaws.com/images/test_area_a_b_locations.png" alt="test_areas" style="width:50%">
  <figcaption>Fig.10 - a) Map showing Test Areas A and B (black boxes) in the southern USA. b) Location of fields in Test Area A (W94°48'-W96°00'/N28°48'-N29°30').  c) Location of fields in Test Area B (W88°12'-W90°00'/N31°30'-N32°12'). Open triangles are fields contained in the PWGD. Filled triangles in are fields for which data has previously been published (Kharaka et al., 1987; Hyeong and Capuano, 2001). The unfilled squares in c) (Soso and Raleigh fields) represent fields included in both the literature and PWGD datasets. Colours for b) and c) show this study’s geothermal gradients. </figcaption>
</figure>
<div>
Test Area B encompasses an area of 13,224km<sup>2</sup> along the Alabama-Mississippi border (<a href="#test_areas_ground">fig. 10c</a>). For the 204 PGWD samples, from 35 different oil fields, contained within Test Area B the geothermal model yields a mean surface temperature of 13°C (range 12-14°C) and a mean geothermal gradient of 27°C/km (range 22-34°C/km) (<a href="#temp_comparison">fig. 11b</a>). This data compares well with the subsuface temperature observations of Kharaka et al. (1987).
</div>
<figure id="temp_comparison">
  <img src="https://co-2-gasp-bucket.s3.us-east-2.amazonaws.com/images/temp_comp_test_area_a_b.png" alt="test_area_geothermal" style="width:50%">
  <figcaption>Fig.11 - a) Comparison of temperatures measured at formation depth observed by Hyeong and Capuano, (2001) and those predicted for PWGD samples in Test Area A by this study’s methodology. A geothermal gradient representing the average geothermal gradient (SMUH data – mean 33°C/km; range 29-35°C/km shaded grey) and the average surface temperature (MAST data - mean 16°C; range 15-16°C;) calculated for the PWGD samples in Test Area A shows a reasonable fit to the measured temperatures. b) Comparison of temperatures at formation depth measured by Kharaka et al., (1987) and those predicted for PWGD samples in Test Area B. A geothermal gradient representing the average geothermal gradient (SMUH data – mean 27°C/km; range 22-34°C/km shaded grey) and the average surface temperature (MAST data - mean 13°C; range 12-14°C;) calculated for the PWGD samples in Test Area B shows a reasonable fit to the measured temperatures. 
  </figcaption>
</figure>
<div>
With respect to geochemistry for both test areas we have compared the geochemical profiles of samples and the calculated <i>a</i>Ca<sup>2+</sup>/<i>a</i>Mg<sup>2+</sup> values to literature data (Kharaka et al. 1987; Morton and Land, 1987; Hyeong and Capuano, 2001) finding consistent results.
</div>

<center><a href="/MODIS_data"> << Land surface temperature data</a> <b>|   <a href="/about"> CONTENTS </a>   |</b> <a href="/User_method"> Methodology - User >></a>  


{% endblock %}