{% extends "base.html"%}

{% block content %}

<div id="loading">
    <div><br><br><br> Your simulation is running and the download will commence automatically. This can take up to several minutes. Once it has downloaded click <a href="/">here</a> to return to the home screen.</div>
</div>
<div id="content">
<h2> Horizontal Geothermal / CO2 profile - State level </h2>
<form action="" method="post">
<p>
This filter generates geothermal and CO<sub>2</sub> horizontal profiles for an individual state. <br>
</p>
<p>
{{form.US_state_select.label}}<br>
{{form.US_state_select}}<br>
</p>
<p>
{{form.co2_depth.label}}<br>
{{form.co2_depth}}<br>
</p>
<div>
<b>Optional</b> The land surface temperature correction parameters enables the user to generate an additional profile that can evaluate variations in land surface temperature (e.g. due to climate change).<br> 
&nbsp;&nbsp;&nbsp;&nbsp;For example specifying a land surface correction of 2 will add 2°C to the measured land surface temperature. The pre-existing geothermal gradient remains constant. For further details see here for <a href="/about#free_state_Horizontal_results">example results</a> and here for <a href="/about#horizontal_profile_method">further information</a>.
</div>
<p>
{{form.climate.label}}<br>
{{form.climate}}<br>
</p>
<p>
{{form.land_correct.label}}<br>
{{form.land_correct}}<br>
</p>
<p>
<input type="submit" name="anything_submit" value="Submit" onclick="loading();">
</p>
</form>
</div>

{% endblock %}