{% extends "base.html"%}

{% block content %}
<center><a href="/Robertson_et_al"> <<  Robertson et al. (2022)</a> <b>|   <a href="/about"> CONTENTS </a>   |</b> <a href="/free_state"> Free state CO<sub>2</sub> and geothermal data >></a> </center>

<h3 id="User_method"> 2.2 Methodology - Modelling Options</h3>

As discussed the end user is presented with two different modelling options (<a href="#user_flow">fig. 12</a>), each of which we discuss below. The two processes are not neccessarily mutually exclusive; for a reservoir targeting hosting CO<sub>2</sub> in the free state the interaction between free state CO<sub>2</sub> and insitu groundwater could have a potentially signficant impact on reservoir properties.

<div class="container">
<div class="row justify-content-center"  id="user_flow">
  <img src="https://co-2-gasp-bucket.s3.us-east-2.amazonaws.com/images/co2_gasp_work_flow.png" alt="co2 gasp user workflow" style="width:50%">
  <figcaption>Fig.12 - User workflow for CO<sub>2</sub>-GASP.</figcaption>
</div>
</div>

<center><a href="/Robertson_et_al"> <<  Robertson et al. (2022)</a> <b>|   <a href="/about"> CONTENTS </a>   |</b> <a href="/free_state"> Free state CO<sub>2</sub> and geothermal data >></a>  

{% endblock %}