{% extends "base.html"%}

{% block content %}

<h2> Vertical profile spatial options </h2>
<p>
The different spatial filters are;<br>
</p>
<ul>
<li><b>All US</b> - All 48 contiguous states</li>
<li><b>US state</b> - Choose a state</li>
<li><b>US county</b> - Choose a county(ies)</li>
<li><b>Custom mapping</b> - Enter Lat/Lon bounding box for custom area</li>
</ul>
<center>
<form action="" method="post">
<p>
{{form.mapping_select.label}}<br>
{% for subfield in form.mapping_select %}
    <tr>
        <td>{{ subfield }}</td>
        <td>{{ subfield.label }}</td>
    </tr>
{% endfor %}
</p>
<p>
{{form.submit()}}
</p>
</form>
</center>

{% endblock %}